.container {
  display: flex;
  justify-content: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: bisque;
  width: 90%;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  height: auto;
}
.card:hover {
  transform: translateY(-5px);
}

.image {
  margin: 10px 0;
  width: 90%;
  height: 16rem;
  border-radius: 15px;
  object-fit: cover;
}

.name {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.price {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 5px;
}
.description {
  font-size: 0.8rem;
  width: 90%;
}

.toggle_button {
  background-color: rgb(182, 150, 111);
  border: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.add_to_card {
  background-color: rgb(98, 217, 114);
  border: 5px;
  border-radius: 5px;
  margin: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

.toggle_button:hover {
  background-color: rgb(145, 120, 89);
}

.add_to_card:hover {
  background-color: rgb(187, 191, 73);
}
