.container {
  display: flex;
  justify-content: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  gap: 20px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: bisque;
  align-items: center;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
}

.image {
  margin: 10px 0;
  width: 90%;
  height: 14rem;
  border-radius: 15px;
}

.name {
  margin: 10 0;
  font-size: 1.1rem;
  font-weight: bold;
}
